:root {
	--color-iron: #dbdcde;
	--color-white: #ffffff;
	--color-shark: #2f2f30;
	--color-bombay: #A9ABAE;
	--color-nevada: #6c6d6f;
	--color-mercury: #e5e5e5;
	--color-oslo-gray: #919293;
	--color-alabaster: #fafafa;
	--color-green-haze: #00a651;
	--color-island-spice: #fffbec;
	--color-jungle-green: #2eb670;
	--color-medium-purple: #6665DD;
	--color-azure-radiance: #009ffd;
	--box-shadow-control: inset 0 0 0 1px var(--color-bombay);
}