._ {
	position: relative;
	overflow: hidden;
}

.body {
	padding: 29px 24px;
}

.extra {
	display: flex;
	padding: 24px 32px;
	background-color: var(--color-island-spice);
	column-gap: 16px;
}

.tabs {
	position: relative;
	margin-bottom: -2px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;

	&__wrapper {
		display: inline-block;
		min-width: 100%;
	}
}

.tabslist {
	position: relative;
	display: inline-flex;
	width: 100%;
	padding: 32px 24px 0;

	&::before {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid var(--color-iron);
		content: '';
	}
}

.tab {
	position: relative;
	z-index: 1;
	padding: 14px 15px 12px;
	border: 1px solid transparent;
	border-radius: 6px 6px 0 0;
	border-bottom: transparent;
	margin-right: 1px;
	background-color: transparent;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.03em;
	line-height: 20px;
	outline: transparent;
	text-transform: uppercase;

	&::before {
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 4px;
		background: transparent;
		content: '';
	}

	&_active {
		border-color: var(--color-iron);
		background-color: var(--color-white);
		color: var(--color-green-haze);

		&::before {
			background-color: var(--color-white);
		}
	}

	&:focus {
		box-shadow: 
			inset 0px 0px 0px 1px var(--color-green-haze),
			0 0 0 3px rgba(139, 141, 142, 0.15);
	}
}

.panel {
	position: relative;
	max-width: 600px;
}

.field {
	display: flex;
	padding: 12px 0;

	&__label {
		overflow: hidden;
		width: 160px;
		flex: none;
		margin-top: 8px;
		margin-right: 16px;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.inputs {
	display: flex;
	width: 296px;
	align-items: center;
	column-gap: 24px;
}

.currency {
	width: auto;
	flex: none;
}

.amount {
	display: flex;
	width: auto;
	min-width: 0%;
	flex-grow: 1;
}

.radios {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.range {
	margin-top: 8px;

	& input[type="range"] {
		width: 218px;
	}
}

@media screen and (max-width: 1001px) {
	.field {
		flex-direction: column;

		&__label {
			max-width: 100%;
			margin-bottom: 12px;
			text-align: left;
		}
	}

	.inputs {
		width: 100%;
	}

	.range {
		margin-top: 0;

		& input[type='range'] {
			width: 100%;
		}
	}
}

@media screen and (max-width: 768px) {
	.tabslist,
	.extra,
	.body {
		padding-right: 16px;
		padding-left: 16px;
	}

	.extra {
		flex-direction: column;
		row-gap: 12px;
	}
}