._ {
	position: relative;
	display: inline-block;
	color: var(--color-shark);
	font-size: 16px;
	line-height: 24px;
}

.sign {
	position: absolute;
	top: 8px;
	left: 12px;
}

.input {
	width: 100%;
	padding: 8px 12px;
	border-radius: 6px;
	box-shadow: 
		inset 0px 0px 0px 1px var(--color-bombay);	
	outline: transparent;
	transition: .3s ease;

	&_withSign {
		padding-left: 24px;
	}

	&:focus {
		box-shadow: 
			inset 0px 0px 0px 1px var(--color-green-haze),
			0 0 0 3px rgba(139, 141, 142, 0.15);
	}
}