._ {
	position: relative;
	display: inline-block;
	color: var(--color-shark);
	font-size: 16px;
	line-height: 24px;
}

.sign {
	position: absolute;
	top: 8px;
	left: 12px;
}

.input {
	width: 100%;
	padding: 8px 12px;
	border-radius: 6px;
	box-shadow: var(--box-shadow-control);

	&_withSign {
		padding-left: 24px;
	}
}