._ {
	position: relative;
	margin-bottom: 24px;
}

.title {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.top {
	padding: 28px 32px 27px;
}

.bottom {
	display: flex;
	align-items: center;
	padding: 16px 32px;
	background: var(--color-alabaster);
}


.search {
	position: relative;

	&__iconSlot {
		position: absolute;
		top: 10px;
		left: 16px;
		display: inline-flex;
	}

	&__input {
		width: 334px;
		height: 40px;
		padding: 4px 16px 4px 42px;
		border-radius: 8px;
		box-shadow: var(--box-shadow-control);
		font-size: 16px;
		line-height: 24px;
		outline: transparent;

		
		&:focus {
			box-shadow: 
				inset 0px 0px 0px 1px var(--color-green-haze),
				0 0 0 3px rgba(139, 141, 142, 0.15);
		}
	}
}

.select {
	overflow: hidden;
	width: auto !important;
	border: transparent;
	margin-left: 28px;

	& select {
		padding-right: 28px;
		box-shadow: transparent;
	}
}

@media screen and (max-width: 768px) {
	.top {
		padding-right: 16px;
		padding-left: 16px;
	}

	.bottom {
		padding-right: 16px;
		padding-left: 16px;
	}

	.search {
		flex-grow: 1;
		& input {
			width: 100%;
		}
	}
}

@media screen and (max-width: 580px) {
	.bottom {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 12px;
	}

	.search {
		width: 100%;
	}

	.select {
		width: 100% !important;
		margin-left: 0;

		& select {
			box-shadow: var(--box-shadow-control);
		}
	}
}