._ {
	position: sticky !important;
	top: 24px;
	width: 100%;

	&:not(:last-child) {
		border-bottom: 1px solid var(--color-iron);
	}
}

.option {
	display: inline-flex;
	width: 100%;
	align-items: center;
	padding: 13px 16px;
	margin-top: 1px;
	background-color: var(--color-white);
	color: var(--color-shark);
	outline: transparent;
	text-decoration: none;		
	transition: .3s ease;

	&:hover,
	&:focus {
		background-color: #F3F3F3;
	}
}

.text {
	overflow: hidden;
	margin-left: 8px;
	font-size: 16px;
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.icon {
	width: 1em;
	height: 1em;
	flex: none;
	font-size: 18px;
}