._ {
	display: inline-flex;	
	width: 100%;
	align-items: center;
	color: var(--color-shark);
	font-size: 16px;
	line-height: 24px;
}

.range {
	display: flex;
	height: 1.5em;
	flex-grow: 1;
	align-items: center;
}

.input {
	position: relative;
	display: flex;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	-webkit-appearance: none;
	background: var(--color-iron);
	background-image: linear-gradient(var(--color-green-haze), var(--color-green-haze));
	background-repeat: no-repeat;
	background-size: 70% 100%;
	outline: transparent;
	  
	&::-webkit-slider-thumb {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		-webkit-appearance: none;
		background: var(--color-green-haze);
		box-shadow: transparent;
		cursor: ew-resize;
		transition: background .3s ease-in-out;
	}
	  
	&::-moz-range-thumb {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		-webkit-appearance: none;
		background: var(--color-green-haze);
		box-shadow: transparent;
		cursor: ew-resize;
		transition: background .3s ease-in-out;
	}
	  
	&::-ms-thumb {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		-webkit-appearance: none;
		background: var(--color-green-haze);
		box-shadow: transparent;
		cursor: ew-resize;
		transition: background .3s ease-in-out;
	}
	  
	/* Input Track */
	&::-webkit-slider-runnable-track  {
		border: none;
		-webkit-appearance: none;
		background: transparent;
		box-shadow: none;
	}
	  
	&::-moz-range-track {
		border: none;
		-webkit-appearance: none;
		background: transparent;
		box-shadow: none;
	}
	  
	&::-ms-track {
		border: none;
		-webkit-appearance: none;
		background: transparent;
		box-shadow: none;
	}

	&:focus::-webkit-slider-thumb {
		box-shadow: 
			inset 0px 0px 0px 1px var(--color-green-haze),
			0 0 0 3px rgba(139, 141, 142, 0.15);
	}

	&:focus::-moz-range-thumb {
		box-shadow: 
			inset 0px 0px 0px 1px var(--color-green-haze),
			0 0 0 3px rgba(139, 141, 142, 0.15);
	}

	&:focus::-ms-thumb {
		box-shadow: 
			inset 0px 0px 0px 1px var(--color-green-haze),
			0 0 0 3px rgba(139, 141, 142, 0.15);
	}
}

.option {
	margin-left: 16px;
}